<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Geo 5</h1>
		<form action="/" method="POST" >
			Adres: <br />
			<input type="text" name="address" placeholder="Podaj adres." />
			
			<br />
			<p>{{data}}</p>
		</form>
	</body>
</html>